nav {
  height: 120px;
  width: 100%;
  top: 0px;
  background-color: #4056A1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  position: fixed;
}


nav span {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
}

nav p {
  margin: 0;
}